.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212529 ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.success {
  background-color: #1147DD !important;
}
.coincidence {
  background-color: #D95701;
}
.base {
  color: black;
}
body{
  background-color: #6c757d !important;
}
/*.gamecontainer{

}*/
.none{
  display: none;
}
.small-input {
  text-align: center;
  font-size: 40px;
  width: 2em !important;
  height: 2em;
  text-transform: capitalize;
  border: 0px;
  border-radius: 5px;
  margin: 15px 2px; 
  color: black;
}
.guess{
  background-color: #D95701;
  border-radius: 5px;
}
.good{
  background-color: #1147DD;
  border-radius: 5px;
}
.points {
  background-color: green;
}
.underline{
  text-decoration: underline;
}
/*.gamebutton{
  background-color: #212529 ;
  color: white;
  margin-top: 15px;
}*/
.bg-modal{
  background-color: #212529 ; 
}
.registerinput{
  max-width: 50%;
}
.validity{
  font-size: 75%;
}
.leaderboard th{
  font-size: larger;
  font-weight: 800;
}
.profile {
  font-size: xx-large;
  font-weight: 400;
}
.profile1 {
  font-size: xx-large;
  font-weight: 800;
}



